# Class 2

In [16]:
d = {"Corey": 81, "Eric": 90, "Abraham": 42, "Cody": 14, "Ben": 0, "Penn": 45, "Colin":72, "Liam": 16}

In [17]:
dl = list(d.items())
dl

[('Corey', 81),
 ('Eric', 90),
 ('Abraham', 42),
 ('Cody', 14),
 ('Ben', 0),
 ('Penn', 45),
 ('Colin', 72),
 ('Liam', 16)]

In [27]:
print(d["Corey"] == 5)

False

# Method 1: `.sort()`

In [13]:
get_count = lambda x: x[1]

In [24]:
dl = dl.sort(reverse=True, key=get_count)
dl

In [10]:
stupid_func = lambda x: x**2

In [11]:
stupid_func(5)

25

In [ ]:
def stupid_func(x):
    return x**2

# Method 2: `sorted()`

In [22]:
dl_sorted = sorted(dl, reverse=True, key=lambda x: x[1])
dl

[('Corey', 81),
 ('Eric', 90),
 ('Abraham', 42),
 ('Cody', 14),
 ('Ben', 0),
 ('Penn', 45),
 ('Colin', 72),
 ('Liam', 16)]

# IMPORTANT

`.sort()` changes the list itself and does not return anything\
`sorted()` does not change the list itself and returns a copy in sorted order

# Dictionaries